<div class="carousal1">
    <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide >
            <div class="card">
                <div class="card__content">
                    <div class="card__content-left">
                        <img src="https://i.pinimg.com/originals/e3/9f/d8/e39fd8ee088b1715fe54ae4f43a1886c.png"
                            style="width: 200px;">
                        <div>
                            <h2>Apex Legend </h2>
                            <h1>31Rgt </h1>
                        </div>
                    </div>
                    <div class="card__content-right">
                        <h3>
                            6KD Vip Pro going for high kills and wins only good vibes NA Lobbies
                        </h3><br>
                        <div class="info-content">
                            <ul>
                                <li>
                                    <p class="sound">Slovenia</p>
                                </li>
                                <li>
                                    <p class="comfort">Windows</p>
                                </li>
                                <li>
                                    <p class="noice">KDA</p>
                                </li>
                              
                            </ul>
                            <a href="#"> $15/hr Join  Party </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide >
            <div class="card">
                <div class="card__content">
                    <div class="card__content-left">
                        <img src="https://i.pinimg.com/originals/e3/9f/d8/e39fd8ee088b1715fe54ae4f43a1886c.png"
                            style="width: 200px;">
                        <div>
                            <h2>Apex Legend </h2>
                            <h1>31Rgt </h1>
                        </div>
                    </div>
                    <div class="card__content-right">
                        <h3>
                            6KD Vip Pro going for high kills and wins only good vibes NA Lobbies
                        </h3><br>
                        <div class="info-content">
                            <ul>
                                <li>
                                    <p class="sound">Slovenia</p>
                                </li>
                                <li>
                                    <p class="comfort">Windows</p>
                                </li>
                                <li>
                                    <p class="noice">KDA</p>
                                </li>
                              
                            </ul>
                            <a href="#"> $15/hr Join  Party </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>


        <ng-template carouselSlide >
            <div class="card">
                <div class="card__content">
                    <div class="card__content-left">
                        <img src="https://i.pinimg.com/originals/e3/9f/d8/e39fd8ee088b1715fe54ae4f43a1886c.png"
                            style="width: 200px;">
                        <div>
                            <h2>Apex Legend </h2>
                            <h1>31Rgt </h1>
                        </div>
                    </div>
                    <div class="card__content-right">
                        <h3>
                            6KD Vip Pro going for high kills and wins only good vibes NA Lobbies
                        </h3><br>
                        <div class="info-content">
                            <ul>
                                <li>
                                    <p class="sound">Slovenia</p>
                                </li>
                                <li>
                                    <p class="comfort">Windows</p>
                                </li>
                                <li>
                                    <p class="noice">KDA</p>
                                </li>
                              
                            </ul>
                            <a href="#"> $15/hr Join  Party </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

    </owl-carousel-o>

</div>


