<div class="body">

    <div class="container right-panel-active"  id="container">
        <div class="form-container sign-up-container">
            <form [formGroup]="SignUpForm" (ngSubmit)="SignUp()" *ngIf="!otp">
                <h1>Sign In</h1>
                <div class="social-container">
                    <a (click)="signInWithDiscord()" style="cursor:pointer ;">
                        <i class="fab fa-discord"></i></a>
                    <a (click)="signInWithGoogle()" style="cursor:pointer ;">
                        <asl-google-signin-button #googleBtnRef></asl-google-signin-button>
                    </a>
                </div>
                <span>or use your email for registration</span>
                <input type="email" formControlName="email" placeholder="Email" />
                <button type="submit" value="Submit">Sign Up</button>
            </form>
            <form [formGroup]="OTPForm" (ngSubmit)="OTP()" *ngIf="otp">
                <h1>Enter your OTP send to your email</h1>
              
                <input type="number" formControlName="otp" placeholder="OTP" />
                <button type="submit" value="Submit">Submit</button>
            </form>
        </div>
      
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Hello Friend!</h1>
                    <p>One click away to the world of Pros</p>
                </div>
             
            </div>
        </div>
    </div>

</div>