<div class="container flex justify-around items-center">

    <div class="wrapper">

        <div class="overviewInfo">
       
    
            <div class="productinfo">
                <div class="grouptext">
                    <h3>PLATFORM</h3>
                    <p>PS5</p>
                </div>
                <div class="grouptext">
                    <h3>Game</h3>
                    <p>Valorant</p>
                </div>
                <div class="grouptext">
                    <h3>PRICE</h3>
                    <p>$16/hr</p>
                </div>
    
    
                <div class="productImage">
                    <img src="https://i.imgur.com/ckSgzLQ.png" alt="product: ps5 controller image">
                </div>
    
            </div>
    
        </div>
        <!-- overview info -->
    
        <div class="productSpecifications">
    <h1> #HunterKing121</h1>
    
        </div>
        <!-- product specificaiton -->
    
    </div>

    <div class="wrapper">

        <div class="overviewInfo">
       
    
            <div class="productinfo">
                <div class="grouptext">
                    <h3>PLATFORM</h3>
                    <p>PS5</p>
                </div>
                <div class="grouptext">
                    <h3>Game</h3>
                    <p>Valorant</p>
                </div>
                <div class="grouptext">
                    <h3>PRICE</h3>
                    <p>$16/hr</p>
                </div>
    
    
                <div class="productImage">
                    <img src="https://i.imgur.com/ckSgzLQ.png" alt="product: ps5 controller image">
                </div>
    
            </div>
    
        </div>
        <!-- overview info -->
    
        <div class="productSpecifications">
    <h1> XxxGamerXxx</h1>
    
        </div>
        <!-- product specificaiton -->
    
    </div>

<div class="wrapper">

    <div class="overviewInfo">
   

        <div class="productinfo">
            <div class="grouptext">
                <h3>PLATFORM</h3>
                <p>PS5</p>
            </div>
            <div class="grouptext">
                <h3>Game</h3>
                <p>Valorant</p>
            </div>
            <div class="grouptext">
                <h3>PRICE</h3>
                <p>$16/hr</p>
            </div>


            <div class="productImage">
                <img src="https://i.imgur.com/ckSgzLQ.png" alt="product: ps5 controller image">
            </div>

        </div>

    </div>
    <!-- overview info -->

    <div class="productSpecifications">
<h1> Kill Panther89</h1>

    </div>
    <!-- product specificaiton -->

</div>


</div>
<!-- wrapper-->